/*Reset do Navegador*/
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.logo-img{
    width: 198px;
    height: 70px;
    
}

.botao{
   
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    border: none;
    font-size: 20px;
    padding: 10px 25px;
    background-image: linear-gradient(to right, #BF0404,#B10202);
    color: white;
    border-radius: 2px;
}

.navbar{ 
    background-color:#25292C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
    flex-direction: row;
}

.navbar{
    color: #FFEBCD;
}

.nav-links-desktop{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links-desktop li{
    padding: 0 48px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: bold;
    
}

.nav-links-desktop a, .nav-links-mobile a{
    color: #FFEBCD;
    text-decoration: none;
    transition: 0.3s;

}

.nav-links-desktop a:hover{
    text-decoration: underline;
}

.mobile-menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.nav-links-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 80%;
    list-style: none;
    padding: 0;
    
}

.nav-links-mobile li {
    border-bottom: 1px solid #787272;
    padding-bottom: 1.2rem;
}

.hamburguer,.close{
    font-size: 24px;
    background: none;
    color: #FFF;
    cursor: pointer;
    display: none;
}

.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}

@media(max-width: 768px){

    html{
        font-size: 12px;
    }
    .nav-links-desktop{
        display: none;
    }

    .botao-area{
        display: none;
    }

    .hamburguer{
        display: block;
    }
}
