/*Reset do Navegador*/
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.logo-img{
    width: 198px;
    height: 70px;
    padding: 10px;
}

.botao{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    border: none;
    font-size: 20px;
    padding: 10px 25px;
    background-image: linear-gradient(to right, #BF0404,#B10202);
    color: white;
    border-radius: 2px;
}

.navbar{ 
    background-color:#25292C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
    flex-direction: row;
}

.navbar{
    color: #FFEBCD;
}

.nav-links-desktop{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links-desktop li{
    padding: 0 48px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: bold;
    
}

.nav-links-desktop a{
    color: #FFEBCD;
    text-decoration: none;
    transition: 0.3s;

}


